<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <link rel="stylesheet" th:href="@{/css/htable.css}">
    <link rel="stylesheet" th:href="@{/css/booklist.css}">
    <link rel="stylesheet" th:href="@{/css/storeout.css}">
</head>
<body style="padding-top: 0">
<section layout:fragment="content">
    <script src="/js/booklist.js"></script>
    <!-- 예약 관리 테이블 -->
    <div class="container">
        <h2>예약관리</h2>
        <!-- 검색창 + 삭제 버튼 -->
        <div style="width: 95%; margin: 30px auto 40px;">
            <div style="display: flex; justify-content: space-between; align-items: center;">

                <!-- 가운데 정렬된 검색창 -->
                <div class="search-group">
                    <form action="/bookmanage_search">
                        <div class="group">
                            <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
                            <input placeholder="예약자 검색" type="search" class="input" name="search">
                        </div>
                    </form>
                </div>

                <!-- 삭제 버튼 (오른쪽 정렬) -->
                <button type="button" class="deleteBtn" style=" margin-right: 30px;">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 69 14" class="svgIcon bin-top">
                        <g clip-path="url(#clip0_35_24)">
                            <path fill="black" d="M20.8232 2.62734L19.9948 4.21304C19.8224 4.54309 19.4808 4.75 19.1085 4.75H4.92857C2.20246 4.75 0 6.87266 0 9.5C0 12.1273 2.20246 14.25 4.92857 14.25H64.0714C66.7975 14.25 69 12.1273 69 9.5C69 6.87266 66.7975 4.75 64.0714 4.75H49.8915C49.5192 4.75 49.1776 4.54309 49.0052 4.21305L48.1768 2.62734C47.3451 1.00938 45.6355 0 43.7719 0H25.2281C23.3645 0 21.6549 1.00938 20.8232 2.62734Z"></path>
                        </g>
                        <defs>
                            <clipPath id="clip0_35_24"><rect fill="white" height="14" width="69"></rect></clipPath>
                        </defs>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 69 57" class="svgIcon bin-bottom">
                        <g clip-path="url(#clip0_35_22)">
                            <path fill="black" d="M20.8232 -16.3727L19.9948 -14.787C19.8224 -14.4569 19.4808 -14.25 19.1085 -14.25H4.92857C2.20246 -14.25 0 -12.1273 0 -9.5C0 -6.8727 2.20246 -4.75 4.92857 -4.75H64.0714C66.7975 -4.75 69 -6.8727 69 -9.5C69 -12.1273 66.7975 -14.25 64.0714 -14.25H49.8915C49.5192 -14.25 49.1776 -14.4569 49.0052 -14.787L48.1768 -16.3727C47.3451 -17.9906 45.6355 -19 43.7719 -19H25.2281C23.3645 -19 21.6549 -17.9906 20.8232 -16.3727ZM64.0023 1.0648C64.0397 0.4882 63.5822 0 63.0044 0H5.99556C5.4178 0 4.96025 0.4882 4.99766 1.0648L8.19375 50.3203C8.44018 54.0758 11.6746 57 15.5712 57H53.4288C57.3254 57 60.5598 54.0758 60.8062 50.3203L64.0023 1.0648Z"></path>
                        </g>
                        <defs>
                            <clipPath id="clip0_35_22"><rect fill="white" height="57" width="69"></rect></clipPath>
                        </defs>
                    </svg>
                </button>

            </div>
        </div>

        <div class="no-book" th:if="${bookma == null or bookma.isEmpty()}">예약관리할 내역이 없습니다.</div>

            <table th:unless="${bookma == null or bookma.isEmpty()}">
                <thead>
                <tr>
                    <th>매장명</th>
                    <th>예약자</th>
                    <th>인원수</th>
                    <th>예약상태</th>
                    <th>예약날짜</th>
                    <th>예약시간</th>
                    <th><input type="checkbox" id="allCheck"></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="bookm : ${bookma}">
                        <td class="store-name">
                            <a th:href="@{detailview(storecode=${bookm.store.storecode})}" class="slink" th:text="${bookm.store.storename}"></a>
                        </td>
                        <td class="book_id">
                            <a th:href="@{bookmanage_detail(tablenum=${bookm.tablenum})}" class="slink" th:text="${bookm.id}"></a>
                        </td>
                        <td th:text="${bookm.saramsu}"></td>
                        <td th:text="${bookm.state}"></td>
                        <td th:text="${bookm.bookingdate}"></td>
                        <td th:text="${bookm.bookingtime}"></td>
                        <td class="align_center">
                            <input type="checkbox" th:id="'check_'+${bookm.tablenum}" class="deleteCheckbox" th:value="${bookm.tablenum}">
                        </td>
                    </tr>
                </tbody>
            </table>

        <div th:if="${bookma != null}" style="align-items: center; line-height: 2em;">
            <div class="pagination">
                <ul style="display: flex; list-style: none; gap: 10px;">
                    <!-- 이전 블록 -->
                    <li th:if="${nowPageBlock > 0}">
                        <a th:href="@{/booklist(page=${(nowPageBlock - 1) * pageBlockSize})}">이전</a>
                    </li>

                    <li th:each="pageNum : ${#numbers.sequence(nowPageBlock * pageBlockSize, T(java.lang.Math).min((nowPageBlock + 1) * pageBlockSize - 1, totalPage - 1))}">
                        <a th:if="${pageNum != nowpage}"
                           th:href="@{/booklist(page=${pageNum})}"
                           th:text="${pageNum + 1}"></a>
                        <span th:if="${pageNum == nowpage}"
                              style="font-weight: bold; color: red;"
                              th:text="${pageNum + 1}"></span>
                    </li>


                    <!-- 다음 블록 -->
                    <li th:if="${(nowPageBlock + 1) * pageBlockSize < totalPage}">
                        <a th:href="@{/booklist(page=${(nowPageBlock + 1) * pageBlockSize})}">다음</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>