@charset "UTF-8";
* {
    text-align: center;
}
#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 높이만큼 채움 */
}
main {
  flex: 1; /* 화면 높이만큼 채움 */
}
header
{
   text-align: center;
   width: 100%;
}
nav
{

}
#top
{

}

#body
{
   text-align: center;
   width: 100%;
   flex: 1;
   background-color: #FBF8EF;
   padding-top: 20px;
   padding-bottom: 50px;
}
#footer
{
   position: relative;
   bottom: 0px;
   width: 100%;
   height: 200px;
   text-align: center;
   font-size: 15px;
   line-height: 30px;
   background-color: #C6B89E;
   color: #EDD892;
   margin-top: 0;
   padding-top: 20px;
   padding-bottom: 10px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;'
}
/* <reset-style> ============================ */
a {
  text-decoration: none;
}
/* <main-style> ============================ */
.scroll-up {
  position: fixed; /* 주석 해제 */
  right: 3rem;
  bottom: 3rem; /* 항상 오른쪽 하단에 위치 */
  z-index: 10;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: #D5C7BC;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: bottom .4s, transform .4s;
}


.scroll-up:hover {
  transform: translateY(-.25rem);
}

/* Show scroll-up */
._show-scroll {
  bottom: 3rem;
}

@media (max-width: 1199.98px) {
  .scroll-up {
    right: 1rem;
  }
}