<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
  <meta charset="UTF-8">
  <title>아이디 찾기 결과</title>
  <link rel="stylesheet" th:href="@{/css/findResult.css}">
</head>
<body>
<section layout:fragment="content">
<div class="result-box">
  <br>
  <div class="title">회원님의 아이디를 확인해 주세요</div>

  <div class="userid" th:if="${#strings.isEmpty(findId)}">조회 결과가 없습니다.</div>
  <div class="userid" th:if="${!#strings.isEmpty(findId)}" th:text="${findId}"></div>

  <div class="wrapper">
    <button class="button login-btn" th:onclick="|location.href='@{/loginput}'|">로그인하기</button>
    <button class="button pwfind-btn" th:onclick="|location.href='@{/login_Pwfind}'|">비밀번호찾기</button>
  </div>

  <div th:if="${msg != null}" style="color: red; font-weight: bold; margin-bottom: 15px;" th:text="${msg}"></div>
  <br>
</div>
</body>
</html>
