<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <link rel="stylesheet" th:href="@{/css/IdPwfind.css}">
</head>
<body>
<br>
<section layout:fragment="content">
    <div class="wrapper">
        <div class="form-container">
            <br>
            <div id="heading">아이디 찾기</div>
            <form th:action="@{/findIdCheck}" method="post">
                <input class="input-field" type="text" name="name" placeholder="이름 입력" required>
                <input class="input-field" type="text" name="phone" placeholder="전화번호 입력" required>

                <div class="button-area">
                    <input class="button1" type="submit" value="아이디 찾기">
                </div>
            </form>

            <div class="links">
                <a th:href="@{/joinput}">회원가입하기</a>
                <a th:href="@{/loginput}">로그인하기</a>
            </div>
        </div>
    </div>
    <br>
</section>
</body>
</html>
